params {
    release            = '1.0.0'
    publish_dir_mode   = 'copy'
    project_root_dir   = '~/workflow/project/sanger_seq'
    output_dir         = '~/workspace/projects/sanger_seq/2024_07_10_2024-07-10-15-00-51_sanger_seq_output'
    batch_id           = "2024_07_10_2024-07-10-15-00-51"
    trace_path         = "~/workspace/projects/sanger_seq"
    trace_regex_suffix = "2024-07-10-15-00-51_JO.ab1"
    trim_cutoff        = 0
    min_seq_len        = 50
}

report {
    enabled = false
    file = "nextflow.html"
}

timeline {
    enabled = false
    file = "timeline.html"
}

dag {
    enabled = false
    file    = "dag.html"
}

docker {
  enabled = true
  autoMounts = true
}

process {
    // default resource allocation
    cpus = 4
    memory = 18.GB
    errorStrategy = 'retry'
    maxRetries = 1
}

// Load config files
includeConfig 'workflows/sangerseq_batch/nextflow.config'