params {
    release            = '1.0.0'
    publish_dir_mode   = 'copy'
    //all analysis results will output to this directory
    output_dir         = null
    //batch id to run for trace files found in the trace root directory
    batch_id           = null
    //Parent directory of trace files
    trace_path         = null
    //Trace file suffix for regular expression matching
    trace_regex_suffix = null
    //Cutoff for trimming low quality ends of the sequences by QS, 0 for no trimming
    trim_cutoff        = 20
    //The trimming sliding window size for contig assembly
    min_seq_len        = 50
    //Expect value (E) for saving hits
    evalue=1e-5
    //Percent query coverage per hsp
    qcov_hsp_perc = 90
    //Percent identity
    perc_identity=90
    //Number of aligned sequences to keep
    max_target_seqs = 25
}

report {
    enabled = false
    file    = "nextflow.html"
}

timeline {
    enabled = false
    file    = "timeline.html"
}

dag {
    enabled = false
    file    = "dag.html"
}

docker {
  enabled    = true
  autoMounts = true
  runOptions = '--platform linux/amd64 --pull=missing -u $(id -u ${USER}):$(id -g ${USER})'
}

process {
    // default resource allocation
    cpus          = 4
    memory        = 32.GB
    //errorStrategy = 'ignore'
    maxRetries    = 1
}

// Load config files
includeConfig 'workflows/sangerseq_batch/nextflow.config'
includeConfig 'workflows/blastn_search/nextflow.config'