process {
    withName: BLASTN_QUERY {
        container = "ncbi/blast:2.16.0"
        cpus = 4
        memory = 16.GB
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,tsv,asn,yml}",
            saveAs: { "${sample}/blast/${it}" }
        ]
    }
    withName: BLASTN_HTML {
        container = "kzhupm/python3-r:1.0.3"
        cpus = 4
        memory = 16.GB
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,yml}",
            saveAs: { "${sample}/blast/${it}" }
        ]
    }
    withName: SIGNOUT_FORM {
        container = "kzhupm/python3-r:1.0.3"
        containerOptions = "-v ${params.output_dir}:/mnt"
        cpus = 4
        memory = 16.GB
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*.{docx,yml}",
            saveAs: { "${sample}/${it}" }
        ]
    }
}