process {
    withName: BLASTN_QUERY {
        container = "ncbi/blast:2.16.0"
        containerOptions = "-v ${params.output_dir}:/mnt"
        cpus = 4
        memory = 16.GB
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,tsv,asn,yml}",
            saveAs: { "${sample}/${it}" }
        ]
    }
}